<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'omdb' %}">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
              <div >


                <div class="row m-2">
                  {%  for mov in response.Search %}
                  <a href="{% url 'omdb-detail' mov.imdbID %}"</a>
                  <div class="card bg-dark text-white m-2" style="max-width : 500px;">
                  <img class="card-img" src="{{mov.Poster}}" style="height : 300px; width: 500px" alt="Card image cap">
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{mov.Title}}</h5>

                  </div>

                </div>
                {% endfor %}
                </div>

              </div>

  </body>
</html>
